body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bad Script', cursive;
    background: #000;
}

.glowing-effect {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.glowing-effect h1 {
    color: transparent;
    font-size: 5rem;
    margin: 0;
    padding: 0;
}
.glowing-effect h1 span {
    display: table-cell;
    animation: glowing 1s linear infinite;
}
@keyframes glowing {
    0%, 100% {
        color: white;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff, 
                     0 0 20px #00b3ff,
                     0 0 40px #00b3ff,
                     0 0 80px #00b3ff,
                     0 0 120px #00b3ff,
                     0 0 200px #00b3ff,
                     0 0 300px #00b3ff,
                     0 0 400px #00b3ff;    
    }   
}
.letter2.disappear {
    opacity: 0;
}